In [ ]:
import pandas as pd
from glob import glob
import numpy as np

In [ ]:
stock_files = sorted(glob('/home/mayank/Downloads/technocolab_project/data/stock*.csv'))
stock_files

['/home/mayank/Downloads/technocolab_project/data/stock1.csv',
 '/home/mayank/Downloads/technocolab_project/data/stock2.csv',
 '/home/mayank/Downloads/technocolab_project/data/stock3.csv',
 '/home/mayank/Downloads/technocolab_project/data/stock4.csv',
 '/home/mayank/Downloads/technocolab_project/data/stock5.csv']

In [ ]:
data = pd.concat((pd.read_csv(file).assign(filename = file)
          for  file in stock_files),ignore_index = True)

In [ ]:
data

,date,open,high,low,close,volume,Name,filename
0,2013-02-08,78.34,79.72,78.0100,78.90,1298137,AAP,/home/mayank/Downloads/technocolab_project/dat...
1,2013-02-11,78.65,78.91,77.2300,78.39,758016,AAP,/home/mayank/Downloads/technocolab_project/dat...
2,2013-02-12,78.39,78.63,77.5132,78.60,876859,AAP,/home/mayank/Downloads/technocolab_project/dat...
3,2013-02-13,78.90,79.13,77.8500,78.97,1038574,AAP,/home/mayank/Downloads/technocolab_project/dat...
4,2013-02-14,78.66,79.72,78.5850,78.84,1005376,AAP,/home/mayank/Downloads/technocolab_project/dat...
...,...,...,...,...,...,...,...,...
5693,2018-02-01,65.18,66.95,65.1800,66.28,2062510,WRK,/home/mayank/Downloads/technocolab_project/dat...
5694,2018-02-02,66.01,67.54,65.8850,67.24,2711178,WRK,/home/mayank/Downloads/technocolab_project/dat...
5695,2018-02-05,66.97,66.97,63.7700,63.96,3116866,WRK,/home/mayank/Downloads/technocolab_project/dat...
5696,2018-02-06,62.98,64.62,62.0010,64.55,3195188,WRK,/home/mayank/Downloads/technocolab_project/dat...
5697,2018-02-07,64.39,65.94,64.1400,64.42,2440702,WRK,/home/mayank/Downloads/technocolab_project/dat...

In [ ]:
data.date = pd.to_datetime(data.date)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5698 entries, 0 to 5697
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      5698 non-null   datetime64[ns]
 1   open      5697 non-null   float64
 2   high      5697 non-null   float64
 3   low       5697 non-null   float64
 4   close     5698 non-null   float64
 5   volume    5698 non-null   int64
 6   Name      5698 non-null   object
 7   filename  5698 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(1), object(2)
memory usage: 356.2+ KB

In [ ]:
sentimentalanalysis=pd.read_csv('analyzedJSON_data.csv')

In [ ]:
sentimentalanalysis.head()

   Unnamed: 0  Unnamed: 0.1  score        date  cont_len  cont_pol cont_sent
0           0             1      1  2014-10-09        16  0.800000  Positive
1           1             3      1  2014-02-19       434 -0.037771  Negative
2           2             4      1  2014-04-24       159  0.000000   Neutral
3           3             5      1  2014-01-20        72  0.000000   Neutral
4           4             6      1  2014-07-25        71  0.000000   Neutral

In [ ]:
sentimentalanalysis.date = pd.to_datetime(sentimentalanalysis.date)
data.date = pd.to_datetime(data.date)

In [ ]:
merged_data=pd.merge(data,sentimentalanalysis)

In [ ]:
#merged_data = pd.merge(data, sentimentalanalysis, how='left', on='date')

In [ ]:
#merged_data.groupby(['date'], as_index=False).sum() 
#merged_data.drop_duplicates(subset='date',keep='first',inplace=True)

In [ ]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6412764 entries, 0 to 6412763
Data columns (total 14 columns):
 #   Column        Dtype
---  ------        -----
 0   date          datetime64[ns]
 1   open          float64
 2   high          float64
 3   low           float64
 4   close         float64
 5   volume        int64
 6   Name          object
 7   filename      object
 8   Unnamed: 0    int64
 9   Unnamed: 0.1  int64
 10  score         int64
 11  cont_len      int64
 12  cont_pol      float64
 13  cont_sent     object
dtypes: datetime64[ns](1), float64(5), int64(5), object(3)
memory usage: 733.9+ MB

In [ ]:
merged_data.head()

,date,open,high,low,close,volume,Name,filename,Unnamed: 0,Unnamed: 0.1,score,cont_len,cont_pol,cont_sent
0,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,/home/mayank/Downloads/technocolab_project/dat...,235862,249256,7,120,0.000,Neutral
1,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,/home/mayank/Downloads/technocolab_project/dat...,268045,283581,2,388,0.225,Positive
2,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,/home/mayank/Downloads/technocolab_project/dat...,358251,379941,1,94,0.250,Positive
3,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,/home/mayank/Downloads/technocolab_project/dat...,388911,412722,0,37,0.000,Neutral
4,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,/home/mayank/Downloads/technocolab_project/dat...,406086,430996,2,44,0.000,Neutral

In [ ]:
merged_data.shape

(6412764, 14)

In [ ]:
merged_data.drop(['Unnamed: 0','Unnamed: 0.1',"filename"],axis=1,inplace =True)

In [ ]:
merged_data.head()

,date,open,high,low,close,volume,Name,score,cont_len,cont_pol,cont_sent
0,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,7,120,0.000,Neutral
1,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,2,388,0.225,Positive
2,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,1,94,0.250,Positive
3,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,0,37,0.000,Neutral
4,2013-02-11,78.65,78.91,77.23,78.39,758016,AAP,2,44,0.000,Neutral

In [ ]:
merged_data.isnull().sum()

date           0
open         470
high         470
low          470
close          0
volume         0
Name           0
score          0
cont_len       0
cont_pol       0
cont_sent      0
dtype: int64

In [ ]:
merged_data.dropna(axis = 0,inplace =True)

In [ ]:
merged_data.set_index("date", inplace = True)

In [ ]:
import talib

In [ ]:
#merged_data['S_10'] = merged_data['close'].rolling(window=10).mean()
#merged_data['Corr'] = merged_data['close'].rolling(window=10).corr(merged_data['S_10'])
#merged_data['RSI'] = talib.RSI(np.array(merged_data['close']), timeperiod =10)
#merged_data['Open-Close'] = merged_data['open'] - merged_data['close'].shift(1)
#merged_data['Open-Open'] = merged_data['open'] - merged_data['open'].shift(1)

In [ ]:
#merged_data['target'] = np.where(merged_data['close'].shift(-1) > merged_data['close'],1,0)

In [ ]:
merged_data['target'] = np.where(merged_data['close'].shift(-1) > merged_data['close'],1,0)

In [ ]:
merged_data.drop(['Name','cont_len'], axis=1, inplace=True)

In [ ]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6412294 entries, 2013-02-11 to 2018-02-07
Data columns (total 9 columns):
 #   Column     Dtype
---  ------     -----
 0   open       float64
 1   high       float64
 2   low        float64
 3   close      float64
 4   volume     int64
 5   score      int64
 6   cont_pol   float64
 7   cont_sent  object
 8   target     int64
dtypes: float64(5), int64(3), object(1)
memory usage: 489.2+ MB

In [ ]:
merged_data.dropna(axis = 0,inplace =True)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

In [ ]:
#merged_data['target'] = merged_data.apply(lambda row: check_target(row), axis=1)
merged_data['cont_sent'] = merged_data['cont_sent'].replace({'Neutral': 0, 'Positive': 1, 'Negative': -1})

In [ ]:
merged_data.dropna(axis=0,inplace=True)

In [ ]:
#from sklearn.preprocessing import MinMaxScaler
#scaler = StandardScaler()
#scaler.fit(merged_data)
#merged_data = scaler.transform(merged_data)

#scaler = MinMaxScaler()
# transform data
#scaled_data = scaler.fit_transform(merged_data)

In [ ]:
X = merged_data.drop('target', axis=1)
y = merged_data[['target']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.40, random_state=1)

In [ ]:
#y_train[y_train==1].count()

target    1444
dtype: int64

In [ ]:
#y_train[y_train==0].count()

target    3845932
dtype: int64

In [ ]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_predict = model.predict(X_test)

/home/mayank/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [ ]:
model_score = model.score(X_test, y_test)
print(model_score)

0.9996226000207414

In [ ]:
model.score(X_train, y_train)

0.9996246792619178

In [ ]:
probability = model.predict_proba(X_test)
print(probability)

predicted = model.predict(X_test)

[[9.99999889e-01 1.10516419e-07]
 [9.99915696e-01 8.43043740e-05]
 [9.99999356e-01 6.44053477e-07]
 ...
 [9.99997800e-01 2.20026729e-06]
 [9.99994248e-01 5.75181329e-06]
 [9.99987544e-01 1.24559666e-05]]

In [ ]:
print(metrics.confusion_matrix(y_test, predicted))

[[2563950       0]
 [    968       0]]

In [ ]:
print(metrics.classification_report(y_test, predicted))

/home/mayank/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/home/mayank/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00   2563950
           1       0.00      0.00      0.00       968

    accuracy                           1.00   2564918
   macro avg       0.50      0.50      0.50   2564918
weighted avg       1.00      1.00      1.00   2564918

/home/mayank/anaconda3/lib/python3.8/site-packages/sklearn/metrics/_classification.py:1245: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
merged_data.groupby(["target"]).count()

,open,high,low,close,volume,score,cont_pol,cont_sent
target,,,,,,,,
0,6409882,6409882,6409882,6409882,6409882,6409882,6409882,6409882
1,2412,2412,2412,2412,2412,2412,2412,2412

In [ ]:
#from sklearn.model_selection import RepeatedStratifiedKFold
#from sklearn.model_selection import GridSearchCV
#model = LogisticRegression()
#solvers = ['newton-cg', 'lbfgs', 'liblinear']
#penalty = ['l2','l1']
#c_values = [100, 10, 1.0, 0.1, 0.01]
# define grid search
#grid = dict(solver=solvers,penalty=penalty,C=c_values)
#cv = RepeatedStratifiedKFold(n_splits=10, n_repeats=3, random_state=1)
#grid_search = GridSearchCV(estimator=model, param_grid=grid, n_jobs=-1, cv=cv, scoring='accuracy',error_score=0)
#grid_result = grid_search.fit(X_train, y_train)
# summarize results
#print("Best: %f using %s" % (grid_result.best_score_, grid_result.best_params_))
#means = grid_result.cv_results_['mean_test_score']
#stds = grid_result.cv_results_['std_test_score']
#params = grid_result.cv_results_['params']
#for mean, stdev, param in zip(means, stds, params):
#    print("%f (%f) with: %r" % (mean, stdev, param))

In [ ]:
from sklearn.ensemble import RandomForestClassifier, BaggingClassifier , AdaBoostClassifier , VotingClassifier
classifier = RandomForestClassifier(n_estimators=20,random_state=0)
classifier.fit(X_train,y_train)
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))
print(accuracy_score(y_test,y_pred))

In [ ]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
Y_pred = dt.predict(X_test)

In [ ]:
print(confusion_matrix(y_test,Y_pred))
print(classification_report(y_test,Y_pred))
print(accuracy_score(y_test,Y_pred))

In [ ]:
bg = BaggingClassifier(DecisionTreeClassifier(),max_samples=0.5,max_features=1,n_estimators=20)
bg.fit(X_train,y_train)
Y_Pred = bg.predict(X_test)

In [ ]:
print(confusion_matrix(y_test,Y_Pred))
print(classification_report(y_test,Y_Pred))
print(accuracy_score(y_test,Y_Pred))

In [ ]:
abc = AdaBoostClassifier(DecisionTreeClassifier(), n_estimators = 5,learning_rate =0.1)
abc.fit(X_train,y_train)
abc.score(X_test,y_test)

In [ ]:
# Multi Voting Classifier
lr = LogisticRegression()
dt = DecisionTreeClassifier()
svm = SVC(kernel='poly',degree=2)
evc = VotingClassifier(estimators = [('lr',lr),('dt',dt),('svm',svm)],voting='hard')
evc.fit(X_train,y_train)
evc.score(X_test,y_test)